h1.login-title {
    font-family: Arial;
    margin-top: 5px;
    margin: 0px auto 10px;
}
html {  
    background-color: #000000;
}
.container {
    padding: 20px;
    position: absolute;
    left: 70px;
    width: 1vw - 70px;
    height: 1vh - 110px;
}
.container > h1 {
    margin-top: 0px;
    color: white;
}
img {
    padding: 1vh;
    width: auto;
    height: auto;
}
a:hover {
    color: #ff8b02;
}
.form{
    margin-top: 20px;
    width: 175%;
}
.login-input {
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    height: 25px;
    width: calc(100% - 22px);
  }

.bericht-input {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    height: 175px;
    width: calc(100% - 22px);
}
textarea {
    font-family: "Noto Sans JP", sans-serif;
    resize: none;
}

.klacht-button{
    padding: 15px 5px;
    color: white;
    border: none;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    background-color: #ff1f29;
}
p{
    margin-top: -10px;
    font-size: 15px;
}

select{ 
    float: none;
    justify-content: space-between;
    width:150px;
}
.selectClassOne{
    margin-left: 87px;
}
.selectClassTwo{
    margin-left: 38px;
}
.selectClassThree{
    margin-left: 70px;
}

.error-tab{
    text-align: center;
    margin-bottom: 5px;
}


table, th, td, tr{
    border: 2px solid #ff8b02 /* ALT color : #ff1f29 */;
}

table {
    border-collapse: collapse;
    width: 85%;
    color: #000000;  
    background-color: #d4d4d4;
}
  
th {
height: 70px;
}
.table-title{
    text-align: center;
}

#page-content {
    margin-right: 10%;
    margin-left: 6%;;
}

.table-entry{
    padding-left: 5px;
}

.page-title{
    margin-top: 0px;
    margin-left: 6%;
    
}

.containerMelding{    
    background-color: black;
    width: 1vw - 70px;
    height: 1vh - 110px;
    width: 100%;
}
